<!DOCTYPE html>
<html>

<head>
    <title>Login Form</title>
</head>

<body>

    <form action = "/dashboard" method = "post" id = "loginForm" onload="onloadFn();">
            <center>
                <table>
                    <tr>
                        <td><label>Username</label></td>
                        <td><input type="text" class="form-control" placeholder="Enter Name" name="loginunm" id="loginunm"></td>
                    </tr>
                     <tr>
                        <td><label>Password</label></td>
                        <td><input type="password" class="form-control" placeholder="Enter Password" name="loginpwd" id="loginpwd"></td>
                    </tr>
                   
                    <tr>
                        <td></td>
                        <td><button type = "submit" class = "btn btn-primary">LOGIN</td>
                    </tr>
                </table><br><br>
                
            </center>
    </form>
    <script type="text/javascript">

</body>

</html>